<!-- app-header markup -->
<div class="wrapper mat-elevation-z6">
    <header class="container">
        
        <a routerLink="/">
            <h1 class="textlogo">V2D</h1>
            <!-- <img class="logo" src="../../assets/v2d_logo.jpg"> -->
        </a>

        <!-- Nav for accessing the public facing content routes -->
        <nav class="public">
            <mat-nav-list>
                <a mat-list-item routerLink="/">Home</a>
                <a mat-list-item routerLink="/mission">Mission</a>
                <a mat-list-item routerLink="/training">Training</a>
                <a mat-list-item routerLink="/blog">Blog</a>
                <a mat-list-item routerLink="/contact">Contact</a>
            </mat-nav-list>
        </nav>

        <!-- Nav for accessing the authorized content routes -->
        <nav class="private">
            <mat-nav-list>
                <a mat-list-item routerLink="/signin">Sign In</a>
                <a mat-list-item routerLink="/signup">Sign Up</a>
            </mat-nav-list>
        </nav>

    </header>
</div>