header {
    background: #3f51b5;
    color: #fff;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    &.container {
        display: grid;
        width: 100%;
        max-width: 1280px;
        position: relative;
        margin: auto;
        grid-template-areas: "logo public private";
        grid-template-rows: 100%;
        grid-template-columns: 1fr 6fr 3fr;
    }
}

header > a {
    grid-area: logo;
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

// img.logo {
//     grid-area: logo;
//     width: 50px;
// }

header > nav {
    & > mat-nav-list > a {
        color: #fff;
        height: 2.25rem;
        line-height: 2.25rem;
    }
    &.public > mat-nav-list > a {
        grid-area: public;
        float: left;
    }
    &.private > mat-nav-list > a {
        grid-area: private;
        float: right;
    }
}

