<div class="wrapper">
    <div class="container container-form">
        
        <h1 class="mat-display-4">sign in works!</h1>

        <form #signinForm="ngForm" id="signin-form">
            <div>
                <span class="error" *ngIf="error">{{ error }}</span>
            </div>
            
            <div>
                <button (click)="loginGithub()" 
                    type    =""
                    class   =""
                    id="gh"
                    >Sign in With Github
                </button> 
            </div>
            <br /> 
            
            <div>
                <button 
                    type            =""
                    routerLink      ="/signin-email-form" 
                    id              ="email"
                    >Sign in with Email
                </button>
            </div>
            
            <div>
                <a 
                    routerLink="/signup" 
                    routerLinkActive="active" 
                    class=""
                    ><br />No account? 

                    <strong>Create one here</strong>
                </a>
            </div>
        
        </form>
    </div>
</div>
