h1 {
    font: 300 6rem/6rem Roboto, "Helvetica Neue", sans-serif;
    margin: 0 0 3rem;
    letter-spacing: -0.025em;
}

#signin-form {
    margin: 1rem;

    & button {
        width: 100%;
        margin: 0 auto;
    }
}

.container-form {
    position: relative;
    width: 25%;
    min-width: 300px;
    margin: 0 auto;
}

.ghicon {
    position: relative;
    width: 32px;
    left: calc(50% - 24px);
    display: inline-block;
    margin: 0.5rem;
}