// specialized styles for the information request form component

// .hero_05 {
//     background-image: url("../../assets/hero_img_05.jpg");
// }

h1 {
    font: 300 6rem/6rem Roboto, "Helvetica Neue", sans-serif;
    margin: 0 0 3rem;
    letter-spacing: -0.025em;
}

#information-request-form {
    margin: 1rem;

    & button {
        margin-top: 8px;
        float: right;
    }
}

.container-form {
    width: 50%;
    margin: 0 auto;
}

mat-form-field {
    width: 100%;
}
