// specialized styles for the information request form component

#information-request-form > button {
    margin-top: 8px;
}

button {
    // float: right;
}

.hero {
    color: #fff;
    width: 100%;
    height: 450px;
    &.hero_01 {
        background-image: url("../../assets/hero_img_01.jpg");
    }
    &.hero_02 {
        background-image: url("../../assets/hero_img_02.jpg");
    }
    &.hero_03 {
        background-image: url("../../assets/hero_img_03.jpg");
    }
    &.hero_04 {
        background-image: url("../../assets/hero_img_04.jpg");
    }
    &.hero_05 {
        background-image: url("../../assets/hero_img_05.jpg");
    }
}