<p>
  contact-form works!
</p>
<!-- Contact Form -->
<!-- Allows end user to request more information about vets2data offerings -->
<main>
  <h1 class="">Tell us about yourself!</h1>

    <form #contactForm="ngForm" id="information-request-form">
        <div class="">
            
            <div class="">
                <div class="">
                    <label 
                        for             ="firstname" 
                        class           ="">First Name
                    </label> 
                    <input 
                        id              ="firstname" 
                        type            ="text" 
                        class           =""
                        aria-controls   =""
                        autofocus       ="autofocus" 
                        required>
                </div>
            </div>

            <div class="">
                <div 
                    class               ="">
                    <label 
                        for             ="lastname" 
                        class           ="">Last Name
                    </label>
                    <input 
                        id              ="lastname" 
                        type            ="text" 
                        class           =""
                        aria-controls   =""
                        required>
                </div>
            </div>

            <div class="">
                <div class="">
                    <label 
                        for="email" 
                        class="">Email
                    </label>
                    <input
                        id              ="email" 
                        type            ="text" 
                        class           =""  
                        aria-controls   =""
                        required>
                </div>
            </div>

            <div class="">
                <div class="">
                    <label 
                        for="phone" 
                        class="">Phone
                    </label>
                    <input
                        id              ="phone" 
                        type            ="text" 
                        class           =""  
                        aria-controls   =""
                        required>
                </div>
            </div>

            <div class="" role="listbox">
                <div class=" " tabindex="0">
                    <div class="">Select your representation</div>
                    <div class=""></div>
                    <div class=""></div>
                </div>
                <div class="">
                    <ul class="">
                        <li class="" role="option" tabindex="0">
                            Personal
                        </li>
                        <li class="" role="option" tabindex="0">
                            Non-Profit
                        </li>
                        <li class="" role="option" tabindex="0">
                            Corporation
                        </li>
                        <li class="" role="option" tabindex="0">
                            Educational Institution
                        </li>
                        <li class="" role="option" tabindex="0">
                            Government
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <button 
            type                        ="submit"
            class                       =""
            >Submit
        </button>
    </form>
    <!-- The p element below is where we'll eventually output our greeting -->
  <p class="" id="greeting"></p>
</main>

