
<!-- Contact Form -->
<!-- Allows end user to request more information about vets2data offerings -->
<div class="wrapper">
    <div class="container">
      <h1 class="mat-display-4">Sign in email form works!</h1>

        <form #signInEmailForm="ngForm" id="signin-email-form">
            <div>
                <mat-form-field>
                    <input matInput  
                        id              ="email" 
                        type            ="email" 
                        class           =""  
                        aria-controls   =""
                        placeholder     ="Email"
                        [formControl]="email"
                        required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>    
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput  
                        id              ="password" 
                        type            ="password" 
                        class           =""  
                        aria-controls   =""
                        placeholder     ="Password"
                        required>
                </mat-form-field>
            </div>

            <button (click)="loginEmailPassword()"
                type                    ="submit"
                class                   =""
                >Submit
            </button>
        </form>

    </div>
</div>

