<!-- Contact Form -->
<!-- Allows end user to request more information about vets2data offerings -->

<form action="#" id="information-request-form">
    <div>
        <div class="mdc-form-field">
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <input id="firstname" type="text" class="mdc-text-field__input">
                    <label for="firstname" class="mdc-text-field__label">
                        First Name
                    </label>
                <div class="mdc-text-field__bottom-line"></div>
            </div>
        </div>

        <div class="mdc-form-field">
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <input id="lastname" type="text" class="mdc-text-field__input">
                    <label for="lastname" class="mdc-text-field__label">
                        Last Name
                    </label>
                <div class="mdc-text-field__bottom-line"></div>
            </div>
        </div>

        <div class="mdc-form-field">
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                <input id="orgname" type="text" class="mdc-text-field__input">
                    <label for="lastname" class="mdc-text-field__label">
                        Organization Name
                    </label>
                <div class="mdc-text-field__bottom-line"></div>
            </div>
        </div>

    </div>

    <button type="submit"
            class="mdc-button
                   mdc-button--raised
                   mdc-ripple-surface"
            data-mdc-auto-init="MDCRipple">Submit
    </button>
</form>