<!-- This is the primary HTML template for the app -->

<!-- app-header holds the header markup -->
<!-- the content is contained in header/header.component.html -->
<app-header></app-header>

<!-- router-outlet provides the location content accessed through a route. -->
<!-- Routes are found in src/app-routing.module.ts -->
<router-outlet class="loading"></router-outlet>

<!-- app-footer holds the footer markup -->
<!-- the content is contained in footer/footer.component.html -->
<app-footer></app-footer>