<main class="grid">
    <div>
        <h1 class="mat-display-4">Welcome!</h1>
        <h2 class="mat-display-2">
            Transitioning Military Veterans to Data Engineers, Data Scientists, Leaders, Professionals
        </h2>

        <p class="">
            Vets 2 Data is a non-profit organization helping veterans transition into their community as data engineers, data scientists, leaders and professionals. Please subscribe to our brief newsletter to stay abreast of all the updates.
        </p>

    </div>
</main>