<div class="wrapper">
    <div class="hero hero_01"></div>
    <div class="container">
        <section>
            <h1 class="mat-display-4">Welcome to Vets 2 Data.</h1>
        </section>
        <section class="by-line">
            <h2 class="mat-display-2">
                Transitioning Military Veterans to Data Engineers, Data Scientists, Leaders, Professionals
            </h2>
        </section>

        <section class="description">
            <p class="">
                Vets 2 Data is a non-profit organization helping veterans transition into their community as data engineers, data scientists, leaders and professionals. Please subscribe to our brief newsletter to stay abreast of all the updates.
            </p>
        </section>

        <!-- Get some Bacon! -->
        <br />
        <section class="by-line">
            <h2 class="mat-display-1">
                Get Some Bacon!
            </h2>
        </section>
        <section id="baconIpsumOutput">
            
        </section><br />

    </div>
</div>