<!-- profile page markup -->
<div class="wrapper">
    <div class="container">
        <section class="hero">
            <h1 class="mat-display-4">profile works!</h1>
        </section>
        <section>
            <p id="sign-in-status"></p>
        </section>
        <section>
            <div id="account-details"></div>
        </section>
        <!-- <section>
            <p>{{ displayName }}</p>
            <p>{{ email }}</p>
            <p>{{ emailVerified }}</p>
            <p>{{ photoURL }}</p>
            <p>{{ uid }}</p>
        </section> -->
    </div>
</div>
