<div class="wrapper">
    <div>
        <img class="hero" src="./assets/hero_img_03.jpg">
    </div>
    <div class="container">
        <section>
            <h1 class="">
                Train with Vets 2 Data
            </h1>
        </section>
    
        <!-- Get some Bacon! -->
        <br />
        <section class="by-line">
            <h2 class="mat-display-1">
                Vets 2 Data's curriculum can help prepare you for a future in AI, Data Science and Engineering.
            </h2>
        </section>
        <section>
            <p>Training with Vets 2 Data will provide you with insight into the tools of the trade and modern practices in AI, Data Science and Engineering. Taught by professionals in the industry, you will gain valuable insight by virtue of their years of experience in the field as well as an intimate knowlegde of current industry needs and trends. Vets 2 Data instructors provide lessons that will have you talking the talk and walking the walk of todays Data Science and Engineering community.</p>
        </section>
        <br />
        <section>
            <h3 class="mat-display-1">AI and Data Bootcamp</h3>
            <p>Data is everywhere and data is the fuel for artificial intelligence. In this four hour intensive hands-on bootcamp we shall explore the following:

            <p>Hour 1 and 2: What is data? How to explore the data through basic statistics and visualization?</p>

            <p>Hour 3 and 4: What is artificial intelligence? How to use the data to do supervised and unsupervised machine learning?</p>

            <p>By the end of this boot camp you will have basic foundational knowledge of what is artificial intelligence and how can you use it to predict with the historical data.</p>
        </section>
        <!-- <section id="baconIpsumOutput">
            
        </section> -->

        <br />
    </div>
</div>

