<div class="wrapper">
    <div class="hero hero_03"></div>
    <div class="container">
        <section>
            <p class="mat-display-4">
                Train with Vets 2 Data
            </p>
        </section>
    
        <!-- Get some Bacon! -->
        <br />
        <section class="by-line">
            <h2 class="mat-display-1">
                Vets 2 Data's curriculum can help prepare you for a future in AI, Data Science and Engineering.
            </h2>
        </section>
        <section>
            <p>Training with Vets 2 Data will provide you with insight into the tools of the trade and modern practices in AI, Data Science and Engineering. Taught by professionals in the industry, you will gain valuable insight by virtue of their years of experience in the field as well as an intimate knowlegde of current industry needs and trends. Vets 2 Data instructors provide lessons that will have you talking the talk and walking the walk of todays Data Science and Engineering community.</p>
        </section>
        <!-- <section id="baconIpsumOutput">
            
        </section> -->

        <br />
    </div>
</div>

