
<div class="wrapper">
    <div class="hero hero_04"></div>
    <div class="container">
        <section>
            <h1 class="mat-display-4">
                What we're thinking about!
            </h1>
        </section>
        <section class="by-line">
            <h2 class="mat-display-2">
                Short articles and discussions on topics ranging from preparing to transition from Active Duty or the Reserves to choosing a profession and positioning yourself in todays tech environment.
            </h2>
        </section>
        

        <!-- Add a spinner to the markup here to show during the call to the db -->
        <section class="by-line">
            <ul>
                <li class="" *ngFor="let post of posts | async">
                    <h2 class="mat-display-1">
                        {{post.title}}
                    </h2>
                    
                    <h3>{{post.content}}</h3>

                    <h3>{{post.id}}</h3>
                    <h2>Written by {{post.author}}</h2>
                    
                </li>
            </ul>

            

        </section>
        <br />
        
    </div>
</div>
