
<div class="wrapper">
    <div class="container">
        <p class="mat-display-4">
            Vets 2 Data Blog!
        </p>

        <br />

        <!-- Add a spinner to the markup here to show during the call to the db -->
        <section class="by-line">
            <ul>
                <li class="" *ngFor="let post of posts | async">
                    <h2 class="mat-display-1">
                        {{post.title}}
                    </h2>
                    
                    <h3>{{post.content}}</h3>

                    <h3>{{post.id}}</h3>
                    <h2>Written by {{post.author}}</h2>
                    
                </li>
            </ul>

            

        </section>
        
    </div>
</div>
