
// .hero_04 {
//     background-image: url("../../assets/hero_img_04.jpg");
// }

h1 {
    font: 300 6rem/6rem Roboto, "Helvetica Neue", sans-serif;
    margin: 0 0 3rem;
    letter-spacing: -0.025em;
}